@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
body {
    
    margin: auto;
    
    background-color: chocolate;
    font-family: 'Oxygen', sans-serif;
    
}
.contain {
    text-align: center;
    display: block; 
    margin: auto;

    
}

.angle-input {
    
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: larger;
   
    
}


h1 {
    color: chocolate;
}
button {
    padding: 0.5rem;
    font-size: large;
    border-radius: 0.4rem;
    
    border: solid ;
    border-top-width: thin;
    border-right-width: thin;
    
    
    color: chocolate;
    background-color: cornsilk;
    
}

