body {
    
    margin: auto;
    max-width: 50%;
    background-color: chocolate;
    
}

.quiz-form {

    margin-top: 2rem;
    font-size: large;

}
input {
    margin: 0.5rem;
}


h1 {
    color: cornsilk;
}
button {
    margin-top: 2rem;
    padding: 0.5rem;
    font-size: large;
    border-radius: 0.4rem;
    
    border: solid ;
    border-top-width: thin;
    border-right-width: thin;
    
    
    color: cornsilk;
    background-color: chocolate;
    
}
h2 {
    margin-top: 1rem;
    color: cornsilk;
}