
h1 {
    color: chocolate;
}
.contain {
    text-align: center;
    display: block; 
    margin: auto;
    
    
}
.txt-input {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: larger;  
}

input {
    margin: 1rem;
    display: block;
    max-width: 100%;
}


button {
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: large;
    border-radius: 0.4rem;
    margin: 3vh;
    border: solid ;
    border-top-width: thin;
    border-right-width: thin;
    
    
    color: chocolate;
    background-color: cornsilk;
    
}
p {
    margin-top: 1rem;
    color: chocolate;
    font-size: larger;
}